<!-- <div class="mainCointainer">
<div class="board">
  board
  <div class="square top left"  tabindex="0"> square top left</div>
  <div class="square top" tabindex="0">square top<div class=""></div></div>
  <div class="square top right" tabindex="0">square top right<div class=""></div></div>
  <div class="square left" tabindex="0"><div class=""></div></div>
  <div class="square" tabindex="0"><div class=""></div></div>
  <div class="square right" tabindex="0"><div class=""></div></div>
  <div class="square bottom left" tabindex="0"><div class=""></div></div>
  <div class=" square bottom" tabindex="0"><div class=""></div></div>
  <div class="square bottom right" tabindex="0"><div class=""></div></div>
  </div>

</div> -->

<app-split-wise></app-split-wise>

